* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

app-root {
  position: relative;
  min-height: 100%;
  display: block;
  padding-bottom: 50px;
}

footer-component {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.custom-accordion .accordion-item {
  border: 0;
  background: transparent;
}

.custom-accordion .accordion-button,
.custom-accordion .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: var(--bs-primary);
  background-image: var(--bs-gradient);
  box-shadow: none;
}

.custom-accordion .accordion-button::after {
  background-image: url("./assets/up.svg");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  transform: none;
  transition: none;
  filter: none;
}

.custom-accordion .accordion-button.collapsed::after {
  background-image: url("./assets/down.svg");
  transform: none;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}

#btn-error {
  color: red;
}


@media screen and (max-width: 767px) {
  form.w-50 {
    width: 100% !important;
  }

  .w-25#hide-block {
    width: 75% !important;
  }
}




